@import url('https://fonts.googleapis.com/css?family=Roboto');

$gutter: 20px;
$title-font-family: 'Roboto', sans-serif;

$primary-color: #4b6cb7;
$header-gradient: linear-gradient(to right, #4b6cb7, #182848);
